.subscribe-box {
  margin: 20px 0 10px;
  padding: 4px;
  background: #fff;
  background: url('../images/subscribe-bg.png') ;

  //@media (min-width: $min-md) {
  //  margin: 40px 0 20px;
  //}

  &__header {
    font-size: 1.1em;
    margin-bottom: 1rem;
  }

  .input,
  input[type=color],
  input[type=date],
  input[type=datetime-local],
  input[type=datetime],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week] {
    padding: .6rem 1.5rem;
    margin: 0 0 .6em;
    max-width: 100%;

    @media (max-width: $max-lg) {
      width: 80%;
    }

    @media (max-width: $max-md) {
      display: block;
      width: 100%;
    }
  }
}

.subscribe-box-inner {
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  text-align: center;

  //@media (min-width: $min-sm) {
  //  padding: 35px;
  //}
  //
  //@media (min-width: $min-md) {
  //  padding: 45px;
  //}
}