.sitemap-list {

  h3 {

    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid rgba(0,0,0,.3);
      }
    }
  }

  ul {

    li {
      margin: 6px 0;
    }
  }

  >ul {
    margin-left: 0;

    .sitemap-list__block, .sitemap-list__header {
      padding-left: 0;

      &:before {
        display: none!important;
      }
    }
  }
}