.b-related {
  margin-bottom: 30px;

  &__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;

    @media (min-width: $min-sm) {
      font-size: 24px;
      margin-bottom: 23px;
    }
  }

  &__items {
    @include clearfix();

    @media (min-width: $min-md) {
      margin-left: -40px;
    }
  }

  &__item {
  }
}